 /*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
/* navbar styling */
.navbar .menu .button:hover{
    color: rgb(255, 255, 255);
    background: rgb(110, 58, 255);
    text-decoration-style: solid;
  
  }
  
  /* custom scroll bar */
  ::-webkit-scrollbar {
      width: 10px;
  }
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
      background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
  
  /* all similar content styling codes */
  section{
      padding: 100px 0;
  }
  .max-width{
      max-width: 1300px;
      padding: 0 80px;
      margin: auto;
  }
  .about, .services, .skills, .teams, .contact, footer{
      font-family: 'Poppins', sans-serif;
  }
  .about .about-content,
  .services .serv-content,
  .skills .skills-content,
  .contact .contact-content{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }
  section .title{
      position: relative;
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 60px;
      padding-bottom: 20px;
      font-family: 'Ubuntu', sans-serif;
  }
  section .title::before{
      content: "";
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: 180px;
      height: 3px;
      background: #111;
      transform: translateX(-50%);
  }
  section .title::after{
      position: absolute;
      bottom: -8px;
      left: 50%;
      font-size: 20px;
      color: #081D45;
      padding: 0 5px;
      background: #fff;
      transform: translateX(-50%);
  }
  
  /* navbar styling */
  .navbar{
      background-color: #1e242f;
      position: fixed;
      width: 100%;
      z-index: 999;
      padding: 10px 0;
      font-family: 'Ubuntu', sans-serif;
      transition: all 0.3s ease;
  }
  .navbar.sticky{
      padding: 15px 0;
      background: #081D45;
  }
  .navbar .max-width{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .navbar .logo a{
      color: #fff;
      font-size: 35px;
      font-weight: 600;
      margin-left: -90px;
  }
  .navbar .logo a span{
      color: #081D45;
      transition: all 0.3s ease;
  }
  .navbar.sticky .logo a span{
      color: #fff;
  }
  .navbar .menu li{
      list-style: none;
      display: inline-block;
  }
  .navbar .menu li a{
      display: block;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin-left: 30px;
      transition: color 0.3s ease;
  }
  .navbar .menu li a:hover{
      color: #7a0029;
  }
  .navbar.sticky .menu li a:hover{
      color: #fff;
  }
  
  /* menu btn styling */
  .menu-btn{
      color: #fff;
      font-size: 23px;
      cursor: pointer;
      display: none;
  }
  .scroll-up-btn{
      position: fixed;
      height: 45px;
      width: 42px;
      background: #081D45;
      right: 30px;
      bottom: 10px;
      text-align: center;
      line-height: 45px;
      color: #fff;
      z-index: 9999;
      font-size: 30px;
      border-radius: 6px;
      border-bottom-width: 2px;
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
  }
  .scroll-up-btn.show{
      bottom: 30px;
      opacity: 1;
      pointer-events: auto;
  }
  .scroll-up-btn:hover{
      filter: brightness(90%);
  }
  .navbar .logo a:hover{
    color: #6665ee;
    transition: 0.8s ease-in-out;
  }
  .menu-btn{
    /* display: none;
    color: blue;
    font-size: 10px;
    cursor: pointer;
    display: none;
    text-decoration: none;
    margin-right: 30px; */
  }
  .navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
  }


/* home  */
.home{
    display: flex;
    background: url("images/banner.PNG") no-repeat center;
    height: 100vh;
    color: rgb(255, 255, 255);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #081D45;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #1e242f;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #081D45;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #081D45;
    background: none;
}
.burger{
  display: none;
}


/* about  */
.title{
  color: white;
}
.about{
  background: #1e242f;
}

.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}
.about .about-content .right .text span{
  color: #6665ee;
}
.about .about-content .right p{
  text-align: justify;
}
.about .about-content .right a{
  display: inline-block;
  background: #6665ee;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid r#6665ee;
  transition: all 0.3s ease;
} 
.about .about-content .right a:hover{
color:blue;
border: 1px solid blue;
background: transparent;
}
p{
  color: white
}
/* Blog */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.Blog{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  background: linear-gradient(147deg,#ffffff 0%, #26007e 74%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blog-card{
  position: absolute;
  height: 370px;
  width: 95%;
  max-width: 850px;
  margin: auto;
  border-radius: 25px;
  background: white;
  box-shadow: 0px 10px 50px rgba(0, 252, 13, 0.3);
}
.inner-part{
  position: absolute;
  display: flex;
  height: 360px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
#imgTap:checked ~ .inner-part {
  padding: 0;
  transition: .1s ease-in;
}
.inner-part .img{
  height: 260px;
  width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 15px rgba(252,56,56,.1);
}
#imgTap:checked ~ .inner-part .img{
  height: 370px;
  width: 850px;
  z-index: 99;
  margin-top: 10px;
  transition: .3s .2s ease-in;
}
.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0;
  transition: .6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3{
  opacity: 1;
  transition-delay: .2s;
}
.content{
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  transition: .6s;
}
#imgTap:checked ~ .inner-part .content{
  display: none;
}
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3{
  opacity: 1;
  margin-left: 0px;
  z-index: 100;
  transition-delay: .3s;
}
.content span{
  display: block;
  color: #7b7992;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500
}
.content .title{
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.content .text{
  color: #4e4a67;
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 1.5em;
  text-align: justify;
}
.content button{
  display: inline-flex;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: 1px solid #2600ad;
  background: linear-gradient(147deg, #6d39fe  0%, #0b00a8 74%);
}
.content button:hover{
  background: linear-gradient(147deg, #6665ee 0%, #811907 74%);
}
.sliders{
  position: absolute;
  bottom: 25px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 12;
}
#imgTap:checked ~ .sliders{
  display: none;
}
.sliders .tap{
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}
.sliders .tap:hover{
  background: #cccccc;
}
.sliders .tap:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: linear-gradient(147deg, #6665ee 0%, #811907 74%);;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform .6s;
  transform-origin: left;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before{
  transform: scaleX(1);
  width: 100%;
}
/* skills */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.skills{
  display: grid;
  height: 100%;
  place-items: center;
  background: #1e242f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* margin-top: 50px; */
  
}
::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
  padding: 25px 10px;
  width: 800px;
  background: #fff;
  box-shadow: 5px 5px 20px white;
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 15px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 50%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "75%";
}


/* Contact */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
 
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
.container{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}
/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img{
      height: 350px;
      width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }
}
@media (max-width: 947px){
  .menu-btn{
      display: block;
      z-index: 999;
  }
  .menu-btn i.active:before{
      content: "\f00d";
  }
 
  .home .home-content .text-2{
      font-size: 70px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .max-width{
      max-width: 930px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }
  .services .serv-content .card{
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width{
      padding: 0 23px;
  }
  .home .home-content .text-2{
      font-size: 60px;
  }
  .home .home-content .text-3{
      font-size: 32px;
  }
  .home .home-content a{
      font-size: 20px;
  }
  .services .serv-content .card{
      width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2{
      font-size: 50px;
  }
  .home .home-content .text-3{
      font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text{
      font-size: 19px;
  }
  .contact .right form .fields{
      flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email{
      margin: 0;
  }
  .right form .error-box{
     width: 150px;
  }
  .scroll-up-btn{
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
  }
}

/* @media (max-width: 900px){
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
    display: none;
}

 

.navbar .menu.active{
    left: 0;
}
.navbar .menu li{
    display: block;
}
.navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
}
} */
@media (max-width: 900px){
 .navbar{
  width: 100%;
  top: -20%;
  }

  .show-menu {
    top: 0%;
  }

  .navbar.sticky{
    display: none;
    width: 100%;
  }
  .navbar .max-width{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .menu li{
    width: 100%;
    flex-direction: column;
  }
  .navbar .menu li a{
    padding: .5rem 1rem;
  }
  .navbar .menu.active{
    display: flex;
  }
}


/* footer section styling */
footer{
  width: 100%;
  background: rgb(42 46 65);
  /* padding: 15px 23px; */
  color: #fff;
  text-align: center;
  margin-top: 90px;
  padding-top: 10px;
  position: relative;
}
footer span a{
  color: skyblue;
  text-decoration: none;
}
footer span a:hover{
  color: #6665ee;
  text-decoration: underline;
}

.error {
  color: red;
}

/* contact section styling */
.contact .title::after{
  content: "get in touch";
}
.contact .contact-content .column{
  width: calc(50% - 30px);
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
  text-align: justify;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: white;
}
.contact .contact-content .info .head{
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
  color: white;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 35px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
padding-top: 10px;
resize: none;
}
.contact .right form .button-area{
display: flex;
align-items: center;
}
.right form .button-area button{
color: #fff;
display: block;
width: 160px!important;
height: 45px;
outline: none;
font-size: 18px;
font-weight: 500;
border-radius: 6px;
cursor: pointer;
flex-wrap: nowrap;
background: #6665ee;
border: 2px solid #07193b;
transition: all 0.3s ease;
}

.right form .button-area button:hover{
/* color: skyblue; */
background-color: transparent;
color:blue;
border: 1px solid blue;
}
#contact.contact{
  background: #1e242f;
}
h2{
  color: white;
}







